<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1256">
<title>Software Engineering Laboratory</title>
	<style type="text/css">
		body {
			padding: 20px 0;
		}
		.studentItem {
			display: inline-block;
			padding: 10px;
			margin: 10px;
			width: 170px;		
			border: solid 1px;
		}
		.studentItem span {
			font-weight: bolder;
			display: inline-block;
			width: 75px;
		}
		.studentItem input[type='text'] {
			background-color: white;
			border: none;
			width: 75px;
		}
	</style>
	<script type="text/javascript" src="./js/angular.js"></script>
</head>
<body ng-app="myapp">
<div ng-controller="myctrl">

    <!-- Former
	<div class="studentItem" ng-repeat="student in students">
		<span>id: </span><input type="text" ng-model="student.studentid" disabled>
		<br/>
		<span>f-name: </span><input type="text" ng-model="student.name" disabled>
		<br/>
		<span>s-name: </span><input type="text" ng-model="student.sirname" disabled>
		<br/>
		<span>GPA: </span><input type="text" ng-model="student.gpa" disabled>
		<br/>
		<br/>
		<input type="button" value="Delete" ng-click="delete(student.studentid);"/>
  </div> -->

	<table class="studentTable">

		<tr>
			<th>id</th>
			<th>student id</th>
			<th>name</th>
			<th>sirname</th>
			<th>gpa</th>
		</tr>

		<tr ng-repeat="student in students" id="student">

			<td>
          {{student.index}}
      </td>

			<td>
          <input type="text" ng-model="student.studentid" >
      </td>

			<td>
          <input type="text" ng-model="student.name" >
      </td>

			<td>
          <input type="text" ng-model="student.sirname" >
      </td>

			<td>
          <input type="text" ng-model="student.gpa" >
      </td>


			<td>
				<input type="button" value="Delete" ng-click="delete(student.studentid);"/>
				<input type="button" value="Edit" ng-click="edit(student._id, student.studentid, student.name, student.sirname, student.gpa);"/>
			</td>


		</tr>

	</table>

	<br/>
	<hr/>
	<input type="button" value="Add Random Student" ng-click="add();"/>
</div>
<script type="text/javascript">
	function myrandom(min,max) {
		return min + Math.trunc(Math.random()*(max-min))+1;
	}

	function randomStudent() {
		var randomNames = ['Parsia', 'Amirhossein', 'Ala', 'Jafar', 'Arash', 'Arian', 'Mohammad', 'Mohammadreza', 'Mojtaba', 'Hamed', 'Ramtin', 'Hooman', 'Sina', 'Mahdi', 'Saeed'];
		var randomSirnames = ['Shahini', 'Zarezadeh', 'Emrany', 'Khoshtabiat', 'Mahdavi', 'Pourzarrabi', 'Mirfenderesgi', 'Latifian', 'Moslemi', 'Naddafpour', 'Ansari', 'Saleh', 'Yazdanian', 'Hashemi', 'Jandaghi', 'Ramezani'];
		var name = randomNames[myrandom(0,randomNames.length-1)];
		var sirname = randomSirnames[myrandom(0,randomSirnames.length-1)];
		var studentId = 92200000+myrandom(0,9999);
		var gpa = 12+myrandom(0,800)/100;
		return {
			'name': name,
			'sirname': sirname,
			'studentid': studentId,
			'gpa': gpa,
		};
	}
	
	var myapp = angular.module("myapp", []);
	var mycontroller = function ($scope, $http)
	{
		var server = "http://localhost:1333/";
		$scope.load = function() {
			$http.get(server+'students').success(function (data, status, headers, config) {
				$scope.students = data;
			});
		}
		$scope.delete = function (studentid) {
			$http.get(server+'students/'+studentid+'/delete').success(function (data, status, headers, config) {
				$scope.load();
			});
		}
    
		$scope.edit = function (id, stid, name, sirname, gpa) {
        $http.post(server+'students/'+id+'/update', {studentid: stid, name: name, sirname: sirname, gpa: gpa}).success(function (data, status, headers, config) {
				$scope.load();
			});
		}

		$scope.add = function () {
			$http.post(server+'students/add', randomStudent()).success(function (data, status, headers, config) {
				$scope.load();
			});
		}
		$scope.load();
	}
	myapp.controller("myctrl", mycontroller); 
</script>
</body>
</html>
